# Copy this file to env.sh
# Then adjust the settings below
# env.sh should be in the .gitignore so that you don't commit your secrets to Github!


export GITHUB_CLIENT_ID=github-client-id-here 
export GITHUB_CLIENT_SECRET=github-client-secret
export APP_SECRET_KEY=this-is-just-any-old-random-string
export GITHUB_ORG=the-github-org-you-want-validate-membership-in

# Get these values from your database provider.
export MONGO_HOST=ds019766.mlab.com   
export MONGO_PORT=19766
export MONGO_DBNAME=spis16-luis-james
export MONGO_USERNAME=webappdrawings
export MONGO_PASSWORD=vfnu449q48tgv


# Keep this comment and the ones below.
# To use this file, type this at the bash shell prompt:
#
#     . env.sh
# 
# Yes, the space between . and env.sh is SUPPOSED to be there.
# To see if it worked, type:
#
#    echo $GITHUB_CLIENT_ID
#    echo $GITHUB_CLIENT_SECRET 
#    etc.
#
# You need to do this each time you open a new terminal session
# before running your webapp with 
#  
#   python webapp.py
#
# or before starting idle
