canvas {
    border: 3px solid black;
    border-radius: 10px;
    padding: 0;
    margin: auto;
    display: block;
    width: 880px;
    height: 700px;
    position: static;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.center {
    margin: auto;
    width: 50%;
    border: none;
    padding: 10px;
}

.button {
    background-color: gray;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.thick:hover {
    background-color: white;
    color: black
}

.save:hover {
    background-color: lightblue;
    color: black
}

.black_button {
    background-color: white; 
    color: black; 
    border: 2px solid #555555;
}

.black_button:hover {
    background-color: #555555;
    color: white;
}

.black_button:active {
    background-color: white; 
    color: black; 
    border: 2px solid #555555;
}

.red_button {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}

.red_button:hover {
    background-color: #f44336;
    color: white;
}

.red_button:active {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}

.orange_button {
    background-color: white; 
    color: black; 
    border: 2px solid #FFA500;
}

.orange_button:hover {
    background-color: #FFA500;
    color: white;
}

.orange_button:active {
    background-color: white; 
    color: black; 
    border: 2px solid #FFA500;
}

.yellow_button {
    background-color: white; 
    color: black; 
    border: 2px solid #FFD700;
}

.yellow_button:hover {
    background-color: #FFD700;
    color: white;
}

.yellow_button:active {
    background-color: white; 
    color: black; 
    border: 2px solid #FFD700;
}

.green_button {
    background-color: white; 
    color: black; 
    border: 2px solid green;
}

.green_button:hover {
    background-color: green;
    color: white;
}

.green_button:active {
    background-color: white; 
    color: black; 
    border: 2px solid green;
}

.blue_button {
    background-color: white; 
    color: black; 
    border: 2px solid blue;
}

.blue_button:hover {
    background-color: blue;
    color: white;
}

.blue_button:active {
    background-color: white; 
    color: black; 
    border: 2px solid blue;
}

.purple_button {
    background-color: white; 
    color: black; 
    border: 2px solid purple;
}

.purple_button:hover {
    background-color: purple;
    color: white;
}

.purple_button:active {
    background-color: white; 
    color: black; 
    border: 2px solid purple;
}

div.flash-messages {
  min-height: 4em;
}

table {
   border-collapse: collapse;
}

table * td {
   border: 1px solid #333;
   margin: 0.5em;
   padding: 0.5em;
}

table * th {
   border: 1px solid #333;
   margin: 0.5em;
   padding: 0.5em;
}
