{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block content %}

<p>Click and drag to draw. Press backspace to clear the last item.</p>

<div class="center">
    <form action="/write" method="post" name="save_svg_form">
        <label>Title<input type="text" name="title"></label>
        <input type="hidden" name="content" id="content" value="">
        <button class="button" onclick="save_svg()">Save</button>
        <div id="shareBtn" class="btn btn-success clearfix">Share</div>
    </form>
        
</div>

<div class="center">
    <div class="dropdown">
      <button class="button dropbtn">Tools</button>
      <div class="dropdown-content">
        <a onclick="pen_tool.activate();">Pen</a>
        <a onclick="circle_tool.activate();">Circle</a>
        <a onclick="text_tool.activate();">Text</a>
      </div>
    </div>
    
    Colors:
    
    <button class="button black_button" onclick="color_change('black')">Black</button>
    <button class="button red_button" onclick="color_change('red')">Red</button>
    <button class="button orange_button" onclick="color_change('orange')">Orange</button>
    <button class="button yellow_button" onclick="color_change('gold')">Yellow</button>
    <button class="button green_button" onclick="color_change('green')">Green</button>
    <button class="button blue_button" onclick="color_change('blue')">Blue</button>
    <button class="button purple_button" onclick="color_change('purple')">Purple</button>

    Thickness:

    <button class="button thick" onclick="thick_change(1)">1 px</button>
    <button class="button thick" onclick="thick_change(2)">2 px</button>
    <button class="button thick" onclick="thick_change(3)">3 px</button>
    <button class="button thick" onclick="thick_change(4)">4 px</button>
    <button class="button thick" onclick="thick_change(5)">5 px</button>
</div>

<canvas id="myCanvas"></canvas>

<script type="text/javascript">

paper.install(window);

var pen_tool, circle_tool, text_tool, color, thick;
color = 'black'

function color_change(newColor) {
    color = newColor;
}

function thick_change(newThick) {
    thick = newThick
}

window.onload = function() {
    paper.setup("myCanvas");
    var myPath;
    var layer;
    function onMouseDown(event) {
      myPath = new Path();
      myPath.strokeColor = color;
      myPath.strokeWidth = thick;
      layer = myPath;
      project.activeLayer.addChild(layer);
    }

    
    pen_tool = new Tool();
    pen_tool.onMouseDown = onMouseDown;
    pen_tool.onMouseDrag = function(event) {
        myPath.add(event.point);
        pen_tool.onKeyDown = function(event) {
            if (event.key == "backspace") {
               project.activeLayer.lastChild.remove(); 
            }
        }
    }

    circle_tool = new Tool();
    circle_tool.onMouseDown = onMouseDown;
    circle_tool.onMouseUp = function(event) {
        var circle = new Path.Circle({
            center: event.middlePoint,
            radius: event.delta.length/2
        });
        layer = circle;
        project.activeLayer.addChild(layer);
        circle.strokeColor = color;
        circle.strokeWidth = thick;
        circle_tool.onKeyDown = function(event) {
            if (event.key == "backspace") {
                project.activeLayer.lastChild.remove();
            }
        }
    }

    text_tool = new Tool();
    text_tool.onMouseDown = onMouseDown;
    text_tool.onMouseUp = function(event) {
        var text = new PointText({
            point: event.point,
            content: '',
            fillColor: color,
            fontFamily: 'Courier New',
            fontWeight: 'bold',
            fontSize: (10 * thick)
        });
        layer = text;
        project.activeLayer.addChild(layer);
        text_tool.onKeyDown = function(event) {
            text.content += event.character
            if (event.key == "backspace") {
                project.activeLayer.lastChild.remove();
            }
        }
    }
    
}


document.getElementById('shareBtn').onclick = function() {
  FB.ui({
    method: 'share',
    display: 'popup',
    href: 'https://developers.facebook.com/docs/',
  }, function(response){});
}

</script>

{% endblock %}
